
body {
	background-color:black;
}

div {
	clear:both;
}
.container {
	
}

.button {
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	padding: 14px 20px;
	font-weight:bold;
	float:left;
	font-family:sans-serif;
	font-size:30px;
	background-color:#ff9900;
	color:white;

}

.button:hover{
	background-color:#e68a00;
	cursor:pointer;
}










